<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>ApiPostApps</display-name>

  <servlet>
    <servlet-name>ChatGptTravelClient</servlet-name>
    <servlet-class>chat_api_post.ChatGptTravelClient</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>
      ChatGptCookingClient
    </servlet-name>
    <url-pattern>
      /ChatGptCookingClient
    </url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChatGptCookingClient</servlet-name>
    <servlet-class>chat_api_post.ChatGptCookingClient</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>
      ChatGptTravelClient
    </servlet-name>
    <url-pattern>
      /ChatGptTravelClient
    </url-pattern>
  </servlet-mapping>

</web-app>
